@{
    ViewBag.Title = "Portfolio - Jackson Cafazzo";
}

<div class="entire-page-wrapper">
    <div id="home">
        <h2>stuff and things</h2>
        <h5>building stuff and things </h5>
        <div id="contact_me" class="btn waves-effect waves-ripple">poosh</div>
    </div>
    <div id="hello_ajax">
        <h4 class="hello-ajax">Hello AJAX</h4>
        <div id="result1">
        </div>
        <div id="goto_using" class="btn waves-effect waves-ripple">goto using params</div>
    </div>

    <div id="using_params">

        <h2>using parameters</h2>
        <h4 class="sum">Sum</h4>
        <div id="result2"></div>
        <div id="goto_json_display" class="btn waves-effect waves-ripple">goto json display</div>
    </div>
    <div id="json_display">

        <h2>Using JSON to display an object</h2>
        <h4 class="display-object">Display object</h4>
        <div id="result3"></div>
        <div id="goto_hello" class="btn waves-effect waves-ripple">goto hello</div>
    </div>
    <div id="contact">
        this is the target for the contact link but it's hidden by the navbar
        Let's work together and make something awesome!<br /> Contact me on @Html.ActionLink("this page", "Contact", "Home") or by phone at 503-475-6871 <i class="material-icons">contact_phone</i>
        <div id="back_home" class="btn">return home</div>
    </div>
    <div id="display_view">
    <h2>Displaying a view</h2>
    <h4 class="display-view">Display view</h4>
    <div id="result4"></div>

    </div>
</div>