@{
    ViewBag.Title = "Portfolio - Jackson Cafazzo";
}

<div class="entire-page-wrapper">
    <div id="home">
        <h2>doctorjuno makes webpages</h2>
        <h5>I can build your site from the ground up</h5><h5>get it hosted for you</h5><h5>make you come up in searches and on the map</h5><h5>let me craft a home for your business the web</h5>
        <div id="contact_me">contact me</div>
    </div>
    <div id="contact">
        this is the target for the contact link but it's hidden by the navbar
        Let's work together and make something awesome!<br /> Contact me on @Html.ActionLink("this page", "Contact", "Home") or by phone at 503-475-6871 <i class="material-icons">contact_phone</i>
        <a href="#home" class="btn">return home</a>
    </div>
</div>