<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo waves-effect waves-ripple left">
                doctorjuno
            </a>
            <a data-activates="collapse-menu" class="button-collapse right"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-small-only">
                <li>@Html.ActionLink("Showcase", "Projects", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            <ul class="side-nav right-align" id="collapse-menu">
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("Showcase", "Projects", "Home")</li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Live Examples<i class="mdi-navigation-arrow-drop-down"></i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="http://www.larchprovisions.com">Larch Provisions</a></li>
                                    <li><a href="http://jacksoncafazzo.github.io/Bidder">Bidder</a></li>
                                    <li><a href="#!">Third</a></li>
                                    <li><a href="#!">Fourth</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                
            </ul>
            
        </div>
    </nav>
</div>